.logo { width: 100px; }

.full-width {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

/* Dashboard */
.proj_title {
    font-size: 2.5em;
    color: #696865;
}

.edit {
    font-size: 0.4em;
    padding-left: 15px;
    cursor: pointer;
}

.edit:hover { color: #4183c4; }
